<form class="well" >
    <div class="form-group">
        <input type="number" [(ngModel)]="no" name="no" class="form-control" placeholder="Task no">
    </div>
    <div class="form-group">
          <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Task title">
    </div>
    <input type="button" (click)="addTask(no,title)" value="Add">
</form>
<div class="task-list">
    <div *ngFor="let task of tasks">
        <div class="col-md-1">
            <input type="checkbox" (click)="updateTask(task)" [checked]="task.isDone">
        </div>
        <div class="col-md-2">
            {{task.taskno}}
        </div>
        <div class="col-md-5">
            {{task.title}}
        </div>
        <div class="col-md-4">
            <input type="button" (click)="deleteTask(task.taskno)" value="Delete" class="btn btn-danger">
        </div>
        <br><br>
    </div>
</div>